<div class="jumbtron">
    <h1 class="display-4 text-center">Employee Detail</h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <td>Name</td>
                <td>Salary</td>
                <td>Department</td>
                <td>Position</td>
                <tr *ngFor="let em of service.list">
                    <td>{{ em.name }}</td>
                    <td>{{ em.salary }}</td>
                    <td>{{ em.department.name }}</td>
                    <td>{{ em.position.name }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>